.feynman__title {
    position: relative;
    margin: 0; /*сброс стандартных отступов*/
    padding: 0; /*сброс стандартных отступов*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    z-index: 2;
    color: #000000;
  }