.section-title {
    margin: 0; /*сброс стандартных отступов*/
    padding: 0; /*сброс стандартных отступов*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
  }