.cards__item {
    margin: 0;
    padding: 0;
    width: 240px;
    padding-left: 100px;
  }
  
  .cards__item:nth-child(3n+1) {
    padding-left: 0;
    /*При добавлении/удалении любого количества карточек 
    верстка должна подстраиваться. Можно например использовать 
    псевдо-класс .selector:nth-child(3n + 1), что будет означать:
    для первого элемента, и потом через каждые 3*/
  }
