.video__iframe {
    margin: 0;
    padding: 0;
    padding-right: 20px;
    width: 560px; 
    height: 315px;
    border: 0;
    transition: 1s ease;
  }
  
  .video__iframe:last-of-type {
    padding-right: 0;
  }
  
  .video__iframe:hover {
    opacity: 0.7;
  }