.khan__buy-link {
    height: fit-content; 
    /*В случае, если элемент, содержащий, например, текстовый контент ограничить по высоте - теряется 
    масштабируемость. При редактировании (Добавлении/удалении символов) - нарушается визуальное отображение 
    верстки, она начинает "ломаться". Старайтесь избегать фиксированных значений для ``height. 
    Для того, чтобы ссылка занимала только высоту своего содержимого можно например выровнять ее через св-ва Flex
     или ограничить высоту ссылки "в соответствии с ее контентом", значение fit-content.*/
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color:#2f80ed;
    text-decoration: none;
    transition: 1s ease;
  }
  
  .khan__buy-link:hover {
    opacity: 0.7;
  }